.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-auto-columns: minmax(50px, auto);
    max-height: fit-content;
}

.grid-item {
    border: 1px solid black;
    background-color: green;
}

.energy {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-auto-columns: minmax(50px, auto);
}

.energy_pip {
    margin: 5px;
    background-color: aqua;
    border: 1px solid black;
}